@import "tailwindcss";

@theme {
    --color-Sky: #C3EBFA;
    --color-SkyLight: #c2e9f6;
    --color-Purple: #a9a7f0;
    --color-PurpleLight: #cbc8f6;
    --color-Yellow: #FAE27C;
    --color-YellowLight: #f4f0c4;
    --color-blue: #009AB4;
    --color-red: #E63A1C
}

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.react-calendar__tile--active {
    background-color: var(--color-blue) !important;
    color: white !important;
    border-radius: 4px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__navigation button:enabled:hover {
    border-radius: 4px;
}

.react-calendar abbr:where([title]) {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.rbc-btn-group:first-child {
    display: none !important;
}

.rbc-toolbar-label {
    text-align: right !important;
    padding: 0px 20px !important;
    font-weight: 600;
}

.rbc-btn-group:last-child {
    font-size: 13px !important;
}

.rbc-btn-group:last-child button {
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.rbc-time-view {
    border-color: #eee !important;
}

.rbc-time-header {
    display: none !important;
}

.rbc-time-content {
    border: none !important;
}

.rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
    padding: 0px 20px !important;
}

.rbc-timeslot-group {
    background-color: #f7fdff !important;
}

.rbc-day-slot {
    font-size: 14px !important;
}

.rbc-event {
    border: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 99% !important;
}

.rbc-event:nth-child(1) {
    background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2) {
    background-color: #fefce8 !important;
}

.rbc-event:nth-child(3) {
    background-color: #f2f1ff !important;
}

.rbc-event:nth-child(4) {
    background-color: #fdf2fb !important;
}

.rbc-event:nth-child(5) {
    background-color: #e2f8ff !important;
}

.rbc-event:nth-child(6) {
    background-color: #fefce8 !important;
}

.rbc-event:nth-child(7) {
    background-color: #f2f1ff !important;
}

.rbc-event:nth-child(8) {
    background-color: #fdf2fb !important;
}

.rbc-event-label {
    color: gray !important;
    margin-bottom: 5px;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    touch-action: manipulation;
    text-overflow: ellipsis;
    background-image: linear-gradient(45deg, #0000 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, #0000 50%);
    background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16.1px) calc(1px + 50%);
    background-repeat: no-repeat;
    background-size: 4px 4px, 4px 4px;
    flex-shrink: 1;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem 1.75rem;
    display: inline-flex;
    position: relative
}

button {
    cursor: pointer;
}